body {
  background-color: purple;
  /* background-color: black; */

  /* color: gold; */
  color: white;

  font-family: Arial;
  /* font-family: Helvetica; */

  font-weight: 301;
  /* font-weight: 300; */

  /* line-height: 1.6em; */
  line-height: 1.5em;
  /* font-size: 1.6em; */
  font-size: 1.5em;
  /* text-align: left; */
  text-align: center;
  padding-left: 201px;
  padding-right: 201px;
  background-color: black;
}

/* a {
  color: #097659;
} */

input {
  font-size: 1.6em;
  /* background-color: #4169e1; */
  background-color: blue;
}

.container {
  width: 960px;
  margin: auto;
  margin-top: 50px;
}

ul {
  padding-left: 200px;
}

button {
  background-color: red;
  font-size: 24px;
}

/* .delete-prayer-link {
  color: red;
} */

/* #editable {
  border: 1px solid black;
  padding: 20px;
}

#prayer-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
} */

/* :required{background: red} */
